# http://clang.llvm.org/docs/ClangFormatStyleOptions.html

BasedOnStyle: LLVM

AlignAfterOpenBracket: DontAlign
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: false
BreakBeforeBraces: Allman

BreakBeforeInheritanceComma: true         # clang-format 5
BreakConstructorInitializers: BeforeComma # clang-format 5

ColumnLimit: 120
IndentPPDirectives: AfterHash
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false

#IncludeBlocks: Merge
IncludeCategories:
  - Regex:      '^<[-a-zA-Z0-9_]+\.(h|hh|hpp|hxx)'
    Priority:   7
  - Regex:      '^<experimental/'
    Priority:   8
  - Regex:      '^(<|")[-a-zA-Z0-9_]+/'
    Priority:   5
  - Regex:      '^<'
    Priority:   9
  - Regex:      '^"[^/]*'
    Priority:   1

NamespaceIndentation: None

PointerAlignment: Middle
# SpaceBeforeAssignmentOperators: true
SpacesInAngles: false

TabWidth: 4
UseTab: Never
