# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

project
build
bin
node_modules
/npm-debug.log
/.vs
db/
lib/
qdb/
tags
*.swp
.vscode/
package-lock.json

# Ignore test files
cluster_private.key
cluster_public.key
insecure/
qdbd_log_insecure.err.txt
qdbd_log_insecure.out.txt
qdbd_log_secure.err.txt
qdbd_log_secure.out.txt
secure/
user_private.key
users.cfg